


@font-face {
  font-family: 'lasticaregular';
  src: url('/public/fonts/lastica-webfont.woff2') format('woff2'),
       url('/public/fonts/lastica-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

 @font-face {
  font-family: 'debug_free_trialregular';
  src: url('/public/fonts/debugfreetrial-mvdyb-webfont.woff2') format('woff2'),
       url('/public/fonts/debugfreetrial-mvdyb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'debug_free_trialregular';
  src: url('/public/fonts/debugfreetrial-mvdyb-webfont.woff2') format('woff2'),
       url('/public/fonts/debugfreetrial-mvdyb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1 {
  font-family: 'lasticaregular', sans-serif;


}

 body {
  font-family:'lasticaregular';
  background-color: #1F1D35; 
 }

/* .custom-nav {
  background-color: #1F1D35; 
} */

.my-custom-card {

  border-color: #DB0084!important;
  border-radius: 10px;

}

.my-custom-button {

  background-color: #1B3C60; 
  border: none;

}

.card {
  width: 900px;
  
}

.navbar {
  background-color: #161032;
}


.footer{
  margin-top: auto;
  background-color: #161032;
  color: rgba(255, 255, 255, 0.85);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 25px 0;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.button-group { 
  background-image: url("../public/banner.jpg");
  background-size: 100% auto;
  background-position: center;
  height: 300px;


}